language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - pip install mkdocs
  - mkdocs build
  - git fetch https://${GITHUB_TOKEN}@github.com/chemgymrl/chemgymrl.git
  - git fetch https://${GITHUB_TOKEN}@github.com/chemgymrl/chemgymrl.git gh-pages
  - mkdocs gh-deploy -v --clean --remote-name https://${GITHUB_TOKEN}@github.com/chemgymrl/chemgymrl.git 
  - git push https://${GITHUB_TOKEN}@github.com/chemgymrl/chemgymrl.git gh-pages
deploy:
  provider: pages
  skip_cleanup: true
  github-token: $GITHUB_TOKEN
  keep_history: true
  local_dir: site
  target_branch: gh-pages
  on:
    branch: main  