language: node_js
node_js:
  - "stable"
cache:
  directories:
  - node_modules
script:
  - mkdocs deploy
deploy:
  provider: pages
  skip_cleanup: true
  github_token: af85cfce78d325769ae4fc0dc2e44fd5ce26bc36
  keep_history: true
  local_dir: site
  target_branch: gh-pages
  on:
    branch: master