include chemistrylab/reactions/available_reactions/*.json
include chemistrylab/lab/assets/*
include chemistrylab/lab/assets/vessels/*
include chemistrylab/lab/manager_configs/*
include chemistrylab/materials.pkl